apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: bloodbank
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: sowrimanoj/bloodbank-backend:latest
          env:
            - name: SPRING_DATASOURCE_URL
              value: jdbc:mysql://mysql:3306/bloodbank_db
            - name: SPRING_DATASOURCE_USERNAME
              value: root
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: rootPassword
          ports:
            - containerPort: 8081
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: bloodbank
spec:
  type: NodePort
  selector:
    app: backend
  ports:
    - port: 8081
      targetPort: 8081
      nodePort: 30081
